*.log
.cache
.DS_Store
src/.temp
node_modules/*
!node_modules/@gridsome
node_modules/@gridsome/*
!node_modules/@gridsome/transformer-yaml
node_modules/@gridsome/transformer-yaml/*
!node_modules/@gridsome/transformer-yaml/index.js

dist
.env
.env.*
